{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}
{% block body %}
    {% block nav %}
        {{ parent() }}
    {% endblock %}
    <section id="new-user" >
        <div class="container" >
            <div class="row">
                <div class="col-md-6">  <h1>Modifica usuario: {{ user.username }}</h1></div>
                <div class="col-md-6"><a style="float: right" href="{{ path('admin.user') }}" class="nav-item nav-link"><b>Listado de Usuarios</b></a></div>
            </div>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {{ form_start(formUser,{ 'attr': {'enctype': 'multipart/form-data'} ,'name':'editUser' }) }}
                <input type="hidden" value="{{ user.id }}" name="id">
                <div class="row" >
                    <div class="form-group col-md-4">
                        <label>usuario:</label>
                        {{ form_widget(formUser.username,{ 'attr': {'class': 'form-control','placeholder':'usuario' } }) }}
                        {{ form_errors(formUser.username) }}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Contrase単a:</label>
                        {{ form_widget(formUser.password,{ 'attr': {'class': 'form-control passUser','placeholder':'Contrase単a','type':'password' } }) }}
                        {{ form_errors(formUser.password) }}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Repita contrase単a:</label>
                        <input class="form-control" type="password" id="rememberPass" placeholder="Repita contrase単a">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Correo:</label>
                        {{ form_widget(formUser.email,{ 'attr': {'class': 'form-control','placeholder':'email@email.com' } }) }}
                        {{ form_errors(formUser.email) }}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Tipo de usuario:</label>
                        {{ form_widget(formUser.type,{ 'attr': {'class': 'form-select','placeholder':'email@email.com' } }) }}
                        {{ form_errors(formUser.type) }}
                    </div>
                    <div class="form-group col-md-4">
                        <div id="select-specilialized">
                            <label>Especialidad:</label>
                            <select name="specialized" class="form-select">
                                <option value="">Sin especificar</option>
                                {% for service in services %}
                                    <option value="{{ service.id }}">{{ service.name|e }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button class="btn btn-dark" type="submit" id="btn-save-user" disabled>Guardar</button>
                    </div>

                    <div id="info-user"></div>

                </div>
                {{ form_end(formUser) }}


            {% endif %}
        </div>
    </section>
{% endblock %}
