{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}
{% block body %}
    {% block nav %}
        {{ parent() }}
    {% endblock %}
    <section id="new-user">

        <div class="container">
            <h2>Nuevo usuario</h2>
            <p id="info-admin"></p>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {{ form_start(formUser,{ 'attr': {'enctype': 'multipart/form-data' } }) }}
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>usuario:</label>
                        {{ form_widget(formUser.username,{ 'attr': {'class': 'form-control','placeholder':'usuario' ,'value':''} }) }}
                        {{ form_errors(formUser.username) }}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Nombre:</label>
                        {{ form_widget(formUser.name,{ 'attr': {'class': 'form-control','placeholder':'Nombre' } }) }}
                        {{ form_errors(formUser.name) }}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Apellidos:</label>
                        {{ form_widget(formUser.lastname,{ 'attr': {'class': 'form-control','placeholder':'Apellidos' } }) }}
                        {{ form_errors(formUser.lastname) }}
                    </div>
                </div>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <br>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Empresa :</label>
                            <select name="company" class="form-select">
                                <option value="" selected disabled>SELECCIONA EMPRESA</option>
                                {% for comp in company %}
                                    <option value="{{ comp.id }}">{{ comp.name|e }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endif %}
                <br>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Contraseña:</label>
                        {{ form_widget(formUser.password,{ 'attr': {'class': 'form-control passUser','placeholder':'Contraseña','type':'password' } }) }}
                        {{ form_errors(formUser.password) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Repita contraseña:</label>
                        <input class="form-control" type="password" id="rememberPass" placeholder="Repita contraseña">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Correo:</label>
                        {{ form_widget(formUser.email,{ 'attr': {'class': 'form-control','placeholder':'email@email.com' } }) }}
                        {{ form_errors(formUser.email) }}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Tipo de usuario:</label>
                        {{ form_widget(formUser.type,{ 'attr': {'class': 'form-select','placeholder':'Tipo' } }) }}
                        {{ form_errors(formUser.type) }}
                    </div>
                    <div class="form-group col-md-4">
                        <div id="select-specilialized">
                            <label>Especialidad:</label>
                            <select name="specialized" class="form-select">
                                <option value="">Sin especificar</option>
                                {% for service in services %}
                                    <option value="{{ service.id }}">{{ service.name|e }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <label>Información adicional:</label>
                        {{ form_widget(formUser.information,{ 'attr': {'class': 'form-control','placeholder':'...' } }) }}
                        {{ form_errors(formUser.information) }}
                    </div>
                </div>
                <div class="row mt-2 text-center">
                    <div class="col-md-12">
                        <div id="info-user"></div>
                        <button class="btn btn-dark" type="submit" id="btn-save-user" disabled>Guardar</button>
                    </div>
                </div>

                {{ form_end(formUser) }}
            {% endif %}
        </div>
    </section>
{% endblock %}
