{% extends "base.html.twig" %}
{% block title %}Show user{% endblock %}
{% block body %}
    {% block nav %}
        {{ parent() }}
    {% endblock %}
    <div class="container" id="front-show-user">
        <h3>Información del usuario </h3>
        <div class="row">
            <div class="col-3">
                <b>Usuario: </b><span>{{ user.username }}</span>
            </div>
            <div class="col-3">
                <b>Email: </b> <span>{{ user.email }}</span>
            </div>
            <div class="col-3">
                <b>Tipo de usuario: </b> <span>{{ user.type }}</span>
            </div>
            <div class="col-3">
                {% if user.type == 'operator' %}
                    <div class="container">
                        <a href="{{ path('admin.user') }}">
                            <button class="btn btn-warning">Volver</button>
                        </a>
                        <a href="#">
                            <button class="btn btn-dark">Asignar Tarea</button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if user.type == 'operator' %}
        <div>
            {{ form_start(formTask,{ 'attr': {'enctype': 'multipart/form-data'},'name':'newTask'}) }}
            <div class="row">
                <input name="user" type="hidden" value="{{ user.id }}">
                <div class="form-group col-md-2">
                    <label>Título:</label>
                    {{ form_widget(formTask.title,{ 'attr': {'class': 'form-control','placeholder':'titulo' } }) }}
                    {{ form_errors(formTask.title) }}
                </div>
                <div class="form-group col-md-10">
                    <label>Descripción de la tarea:</label>
                    {{ form_widget(formTask.description,{ 'attr': {'class': 'form-control','placeholder':'Descripción de la tarea' } }) }}
                    {{ form_errors(formTask.description) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Material utilizado:</label>
                    {{ form_widget(formTask.material,{ 'attr': {'class': 'form-control','placeholder':'Material utilizado' } }) }}
                    {{ form_errors(formTask.material) }}
                </div>
            </div>
            <div id="info-task"></div>
            <div class="form-group col-md-1 mt-2">
                <button class="btn btn-dark" type="submit"  >Hecho</button>
            </div>
            {{ form_end(formTask) }}
        </div>
        {% endif %}

    </div>
{% endblock %}