{% extends "base.html.twig" %}

{% block title %}Nueva tarea{% endblock %}
{% block body %}
    {% block nav %}
        {{ parent() }}
    {% endblock %}
    <section id="new-multi-task">

        <div class="container">
            <div class="row">
                <div class="col-md-6"><h1>Nueva tarea</h1></div>
                <div class="col-md-6"><a style="float: right" href="{{ path('admin.task') }}" class="nav-item nav-link"><b>Listado
                            de Tareas</b></a></div>
            </div>

            <scan style="color:red;">{{ infoTask }}</scan>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and infoTask is null %}
                {{ form_start(formTask,{ 'attr': {'enctype': 'multipart/form-data'},'name':'newAdvancedTask'}) }}
                <div class="row">
                    <div class="form-group col-md-3">
                        <label>Título:</label>
                        {{ form_widget(formTask.title,{ 'attr': {'class': 'form-control','placeholder':'titulo' } }) }}
                        {{ form_errors(formTask.title) }}
                    </div>
                    <div class="form-group col-md-3">
                        <label>Servicio:</label>
                        <select name="service" class="form-select">
                            <option value="" selected>Sin especificar</option>
                            {% for service in services %}
                                <option value="{{ service.id }}">{{ service.name|e }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label>Tipo:</label>
                        <select name="type-task" class="form-select">
                            <option value="0">Individual</option>
                            <option value="1">Grupo</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label id="label-operator">Operador:</label>
                        <select name="operator" class="form-select">
                            {% for user in operators %}
                                <option value="{{ user.id }}">{{ user.username|e }}</option>
                            {% endfor %}
                        </select>
                        <div id="check"></div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Descripción de la tarea:</label>
                        {{ form_widget(formTask.description,{ 'attr': {'class': 'form-control','placeholder':'Descripción de la tarea' } }) }}
                        {{ form_errors(formTask.description) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Material:</label>
                        {{ form_widget(formTask.material,{ 'attr': {'class': 'form-control','placeholder':'Material utilizado' } }) }}
                        {{ form_errors(formTask.material) }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Estado:</label>
                        {{ form_widget(formTask.state,{ 'attr': {'class': 'form-select','placeholder':'Estado de la tarea' } }) }}
                        {{ form_errors(formTask.state) }}
                    </div>

                    <div class="form-group col-md-6 mt-4">
                        <div id="info-task"></div>
                        <button class="btn btn-dark" type="submit">Crear</button>
                    </div>
                </div>
                {{ form_end(formTask) }}
            {% endif %}
        </div>
    </section>
{% endblock %}
