{% extends "base.html.twig" %}

{% block title %}Task{% endblock %}
{% block body %}
    {% block nav %}
        {{ parent() }}
    {% endblock %}
    <section id="show-task">
        <div class="container-jumbotron mb-4">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="{{ path("admin.task") }}">
                    <button class="btn btn-warning">Volver</button>
                </a>
                {% if not is_granted('ROLE_OPERATOR') %}
                    <a href="{{ path("admin.task.delete",{id:task.id}) }}" style="float: right">
                        <button class="btn btn-danger">Borrar <i class="bi bi-trash"></i></button>
                    </a>
                {% endif %}
                <br>
                <div class=" table-responsive mt-5">
                    <table class="table table-striped ">
                        <thead>
                        <th>tarea</th>
                        <th>Estado actual</th>
                        <th>Tiempo</th>
                        </thead>
                        <tr>
                        </tr>
                        <tbody>
                        <td>{{ task.title }}</td>
                        <td>
                            {% if task.state == 0 %}
                                <span style="color:red">Pendiente</span>
                            {% elseif task.state == 1 %}
                                <span style="color:orange;">En proceso</span>
                            {% elseif task.state == 2 %}
                                <span style="color:blue;">Realizada</span>
                            {% else %}
                                <span style="color:green;">Verificada</span>
                            {% endif %}
                        </td>
                        <td>
                            <b>
                                {% if task.state == 3 %}
                                    {{ task.timeTotal }}
                                {% else %}
                                    {{ time }}
                                {% endif %}
                            </b>
                            {% if timeTotal %}
                                <form name="edit-time-task" id="form-edit-time" method="Post" style="display: none;">
                                    <div class="row">
                                        <div class="col-12">
                                            <input type="hidden" name="id" value="{{ task.id }}">
                                            {% for key,value  in timeTotal %}
                                                <input class="form-group" name="time{{ key }}" value="{{ value }}"
                                                       type="number" min="00" max="59"
                                                       style="width: 20%">
                                                {% if key !=2 %}
                                                    :
                                                {% else %}
                                                    s.
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <button class="btn btn-dark btn-sm">ACEPTAR</button>
                                        </div>
                                    </div>
                                </form>

                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') and timeTotal %}
                                    <a id="edit-time-task" href="#" style="font-size: 1.9em;float: right"><i
                                                class="bi bi-gear"></i></a>
                                {% endif %}
                            {% endif %}
                        </td>
                        </tbody>
                    </table>
                </div>
                <div class="container-jumbotron">
                    <form name="editTaskOperator" method="Post">
                        <input type="hidden" name="id" value="{{ task.id }}">
                        <div class="row mb-2">
                            <div class="col-12">
                                <label><b>Información:</b></label>
                                <textarea class="form-control" rows="5" name="description"
                                          required>{{ task.description }}</textarea>
                            </div>
                        </div>
                        <div class="row mb-2 mt-2">
                            <div class="col-12">
                                <label><b>Material:</b></label>
                                <textarea class="form-control" rows="5" name="material"
                                          required>{{ task.material }}</textarea>
                            </div>
                        </div>
                        {% if task.state != 3 or is_granted('ROLE_ADMIN') or  is_granted('ROLE_SUPER_ADMIN') %}
                            <div class="row mt-4">
                                <div class="container col-sm-3">
                                    <div style="color: grey">
                                        <b>Creada: </b> {{ task.createdAt|date() }} <br>
                                        <b>Actulizada: </b>{{ task.updatedAt|date() }}
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    {% if task.periodic==1 %}
                                        {% set period = "1 día" %}
                                    {% elseif  task.periodic==2 %}
                                        {% set period = "7 días" %}
                                    {% elseif  task.periodic==3 %}
                                        {% set period = "14 días" %}
                                    {% elseif  task.periodic==4 %}
                                        {% set period = "1 mes" %}
                                    {% elseif  task.periodic==5 %}
                                        {% set period = "3 meses" %}
                                    {% elseif  task.periodic==6 %}
                                        {% set period = "6 meses" %}
                                    {% elseif  task.periodic==7 %}
                                        {% set period = "9 meses" %}
                                    {% elseif  task.periodic==8 %}
                                        {% set period = "1 año" %}
                                    {% elseif  task.periodic==9 %}
                                        {% set period = "2 años" %}
                                    {% else %}
                                        {% set period = "solo una vez" %}
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                                        <label>Selecciona la opción periódica:</label>
                                        <select name="period" class="form-select" id="select-periodic">
                                            <option value="{{ task.periodic }}" selected>{{ period }}</option>
                                            <option value="">Solo una vez</option>
                                            <option value="1">1 día</option>
                                            <option value="2">7 días</option>
                                            <option value="3">14 días</option>
                                            <option value="4">1 mes</option>
                                            <option value="5">3 meses</option>
                                            <option value="6">6 meses</option>
                                            <option value="7">9 meses</option>
                                            <option value="8">1 año</option>
                                            <option value="9">2 años</option>
                                        </select>
                                    {% else %}
                                        <label>Repetición de la tarea:</label>
                                        <h5> {{ period }}</h5>

                                    {% endif %}
                                </div>
                                <div class="form-group col-sm-5">
                                    {% set state="" %}
                                    {% if task.state == 0 %}
                                        {% set state="Pendiente" %}
                                    {% elseif task.state == 1 %}
                                        {% set state="En proceso" %}
                                    {% elseif task.state == 2 %}
                                        {% set state="Realizado" %}
                                    {% elseif task.state == 3 %}
                                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                                            {% set state="Verificado" %}
                                        {% endif %}
                                    {% else %}
                                        {% set state="Selecciona un estado" %}
                                    {% endif %}


                                    <label>Selecciona el estado:</label>
                                    <select name="stateOper" class="form-select" required id="select-state">
                                        <option value="{{ task.state }}" selected>{{ state }}</option>
                                        <option value="0">Pendiente</option>
                                        <option value="1">En proceso</option>
                                        <option value="2">Realizado</option>
                                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                                            <option value="3">Verificado</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            {% if app.user.type!= 'client' and client %}
                                <div class="row mt-4 ">
                                    <div class=" col-12">
                                        <fieldset class="mt-3 p-3" style="background: whitesmoke;">
                                            <h5>Datos del cliente</h5>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Cliente</th>
                                                    <th>Dirección</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>{{ client.idUser.name }} {{ client.idUser.lastname }}</td>
                                                    <td>{{ client.address }}  <span> {{ client.number }}</span> , {{ client.town }}
                                                        <b>({{ client.province }}) </b>, {{ client.cp }}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </fieldset>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="row mt-4 text-center">
                                <div class=" col-12">
                                    <button type="submit" class="btn btn-dark btn-lg">Modifica</button>
                                </div>
                            </div>
                        {% endif %}
                    </form>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
