{% extends "base.html.twig" %}

{% block title %}Nueva tarea{% endblock %}
{% block body %}
    {% block nav %}
        {{ parent() }}
    {% endblock %}
    <div class="container-fluid content-client"></div>
    <div class="container">
        <div class="text-center mb-5">
            <h2>Solicitar petición </h2>

            {{ form_start(formRequest,{ 'attr': {'enctype': 'multipart/form-data' } }) }}
            <div class="row">
                <div class="form-group col-md-12">
                    <label></label>
                    {{ form_widget(formRequest.description,{ 'attr': {'class': 'form-control','placeholder':'Escriba aquí ' ,'rows':6} }) }}
                    {{ form_errors(formRequest.description) }}
                </div>
            </div>
            <button class="btn btn-dark m-5">Enviar</button>
            {{ form_end(formRequest)  }}
        </div>



    </div>
{% endblock %}