<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Javier Ortí">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% set style='default' %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if app.user.type!='super' %}
        {% if(app.user.company.id == 2 ) %}
            {% set style='thecircle' %}
        {% endif %}
    {% endif %}

    {% endif %}
    {% block stylesheets %}

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet">
        <link href="{{ asset('css/responsive.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
        <link href="{{ asset('css/datatables.min.css') }}" rel="stylesheet">
        {% if(style=='thecircle') %}
            <link href="{{ asset('css/responsive-thecircle.css') }}" rel="stylesheet">
            <link href="{{ asset('css/thecircle.css') }}" rel="stylesheet">
        {% endif %}
        <!-- in the <head> section -->
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/datatables.min.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        <script src="{{ asset('js/gestio.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% endblock %}
</head>


<body class="{{ style }}">
{% block body %}
    {% block nav %}
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a href="#" class="navbar-brand ">
                        {% if is_granted('ROLE_SUPER_ADMIN') and  is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ asset('images/tba.png') }}" target="_blank"><img
                                        src="{{ asset('images/tba.png') }}" height="28" alt="CoolBrand"></a>
                        {% else %}
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% if app.user.company %}
                                    <img src="{{ app.user.company.logo }}" height="28" alt="CoolBrand">
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">

                        {% if is_granted('ROLE_USER') %}
                            {% if app.user.type=='client' %}

                                <div class="navbar-nav">
                                    <a href="{{ path('front.client.request') }}" class="nav-item nav-link active"
                                       title="Solicitar petición">PETICIONES</a>
                                </div>
                                <div class="navbar-nav">
                                    <a href="{{ path('front.client',{ 'id': app.user.id }) }}"
                                       class="nav-item nav-link active" title="Informes de peticiones">INFORME</a>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="navbar-nav">
                                <a href="{{ path('home') }}" class="nav-item nav-link active">INICIO</a>
                            </div>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <div class="nav-item nav-link">
                                    <a href="{{ path('admin.company') }}" class="nav-item nav-link"><b>EMPRESAS</b></a>
                                </div>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_SUPER_ADMIN') %}
                                <div class="nav-item nav-link">
                                    <a href="{{ path('admin.user') }}" class="nav-item nav-link"><b><i class="bi bi-person"></i> USUARIOS</b></a>
                                </div>
                                <div class="nav-item nav-link">
                                    <a href="{{ path('service') }}"
                                       class="nav-item nav-link"><b>SERVICIOS</b></a>
                                </div>
                            {% endif %}
                            {% if app.user.type!='client' %}
                                <div class="nav-item nav-link">
                                    <a href="{{ path('admin.task') }}"
                                       class="nav-item nav-link"><b><i class="bi bi-tools"></i> TAREAS</b></a>
                                </div>
                            {% endif %}
                            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                                <div class="nav-item nav-link">
                                    <a href="{{ path('admin.request') }}"
                                       class="nav-item nav-link"><b>PETICIONES</b></a>
                                </div>
                            {% endif %}
                            <div class="nav-item nav-link">
                                <a href="{{ path('admin.user.show', { 'id': app.user.id }) }}"
                                   class="nav-item nav-link"> <b>{{ app.user.name }} {{ app.user.lastname }}</b></a>
                            </div>
                            <div class="nav-item nav-link" style=" margin-left: auto;">
                                {% if is_granted('ROLE_OPERATOR') %}
                                    <a href="{{ path('admin.task') }}" style="color:red;margin-right: 10px;">
                                        {% if pendientes > 0 %}
                                            <span
                                                    style="color: #0c0c0c">Tareas pendientes : </span>
                                            <b> {{ pendientes }} </b>
                                        {% endif %}
                                    </a>
                                {% endif %}
                                <a href="/logout" title="Salir" style="color: red">
                                    <button
                                            class="btn btn-outline-danger " style="border: 0">
                                        <i class="bi bi-box-arrow-left" style="font-size: 0.7em;"></i> <b>SALIR</b>
                                    </button>

                                </a>
                            </div>

                        {% else %}
                            <div class="nav-item nav-link">
                                <a href="{{ path('login') }}" class="nav-item nav-link">
                                    <button class="btn btn-warning"><i class="bi bi-door-open"></i> Login</button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
        {% if  app.request.pathinfo !='/' %}
            <div id="block-grey">  {{ app.request.pathinfo }}</div>
        {% endif %}

    {% endblock %}
{% endblock %}
</body>
</html>
