{% extends "base.html.twig" %}

{% block title %}Service{% endblock %}
{% block body %}
    {% block nav %}
        {{ parent() }}
    {% endblock %}
    <section id="new-service">
        <div class="container-jumbotron">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {{ form_start(formService,{ 'attr': {'enctype': 'multipart/form-data' } }) }}
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Nuevo servicio:</label>
                        {{ form_widget(formService.name,{ 'attr': {'class': 'form-control','placeholder':'Nombre servicio' } }) }}
                        {{ form_errors(formService.name) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Empresa :</label>
                        <select name="company" class="form-select">
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                {% for comp in company %}
                                    <option value="{{ comp.id }}">{{ comp.name|e }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="{{ company.id }}" selected>{{ company.name|e }}</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group col-md-11">
                        <label>Comentario:</label>
                        {{ form_widget(formService.description,{ 'attr': {'class': 'form-control','placeholder':'Descripción sobre el servicio..','rows': 5 } }) }}
                        {{ form_errors(formService.description) }}
                    </div>
                    <div class="form-group col-md-1 mt-4">
                        <button class="btn btn-dark" type="submit" id="btn-save-service" disabled>Guardar</button>
                    </div>
                </div>
                {{ form_end(formService) }}
            {% endif %}
        </div>
    </section>
{% endblock %}
